body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#three {
	color: #1AD395;
}

#xr {
    color: #D31A58;
	font-size: 16px;
}

#aframe {
    color: #39E7AD;
}

#welcome {
	font-size: 20px;
}

#info {
	position: absolute;
    top: 10px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

#links {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: right;
}
