## From .gitignore
server.log
.env
sslcert
node_modules
frontend/**/*.js
frontend/**/*.css

## npm
package-lock.json

## By running 'npm fix'
.gitignore
.prettierignore
frontend/images/
LICENSE
template.env
